body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.startBtn {
  margin-top: 26px;
  font-size: 30px;
  width: 200px;
  height: 60px;
  border-radius: 20%;
  border: none;
  background-color:tomato;
  color: #FEF2BF;
  transition: 0.7s;
  cursor: pointer;
}
.startBtn:hover {
  background-color: crimson;
}

@media (max-width : 990px) {
  #level-title {
    font-size: 2.2rem;
    margin:  13%;
  }
  .btn {
    margin: 50px;
  }
  .startBtn {
    height: 100px;
    margin-top: 130px;
    font-size: 50px;
  }
}


